<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tele2</key>
	<array>
		<string>900</string>
		<string>901</string>
		<string>996</string>
		<string>994</string>
		<string>992</string>
		<string>991</string>
		<string>953</string>
		<string>952</string>
		<string>951</string>
		<string>950</string>
		<string>904</string>
		<string>902</string>
	</array>
	<key>MTS</key>
	<array>
		<string>911</string>
		<string>958</string>
		<string>981</string>
		<string>986</string>
		<string>989</string>
	</array>
	<key>Megafon</key>
	<array>
		<string>999</string>
		<string>959</string>
		<string>939</string>
		<string>937</string>
		<string>933</string>
		<string>932</string>
		<string>931</string>
		<string>930</string>
		<string>929</string>
		<string>924</string>
		<string>923</string>
		<string>921</string>
	</array>
	<key>Beeline</key>
	<array>
		<string>903</string>
		<string>969</string>
		<string>968</string>
		<string>967</string>
		<string>966</string>
		<string>965</string>
		<string>964</string>
		<string>963</string>
		<string>962</string>
		<string>961</string>
		<string>960</string>
		<string>909</string>
		<string>906</string>
		<string>905</string>
	</array>
	<key>Tele2_</key>
	<array>
		<string>999</string>
		<string>908</string>
	</array>
	<key>MTS_</key>
	<array>
		<string>910</string>
		<string>914</string>
		<string>984</string>
		<string>958</string>
		<string>915</string>
		<string>913</string>
		<string>983</string>
		<string>986</string>
		<string>912</string>
	</array>
	<key>Megafon_</key>
	<array>
		<string>920</string>
		<string>926</string>
		<string>936</string>
		<string>951</string>
		<string>927</string>
		<string>902</string>
	</array>
	<key>Beeline_</key>
	<array>
		<string>900</string>
	</array>
</dict>
</plist>
